#icon_card_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}
.icon_card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 8em;
  height: 8em;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  border: 2px solid black;
  transition: 0.3s;
  cursor: pointer;
}

.icon_card:hover {
  border: 2px solid #0099ff;
}

.icon_card * {
  display: block;
  text-align: center;
}

.icon_image {
  margin: 0.5em;
}
