#icon_card_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
  padding-top: 3em;
}
.icon_card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 8em;
  height: 8em;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  border: 2px solid black;
  cursor: pointer;
}

.icon_card:hover {
  border: 2px solid #0099ff;
  color: #0099ff;
}

.icon_card:hover img {
  filter: invert(56%) sepia(69%) saturate(5481%) hue-rotate(183deg)
    brightness(103%) contrast(103%);
}

.icon_card * {
  display: block;
  text-align: center;
}

.icon_image {
  margin: 0.5em;
}
